async-timeout==4.0.2
beautifulsoup4==4.12.2
boltons==23.0.0
bottle==0.12.25
bottle-websocket==0.2.9
bs4==0.0.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
dropbox==11.36.0
Eel==0.16.0
future==0.18.3
gevent==22.10.2
gevent-websocket==0.10.1
greenlet==2.0.2
idna==3.4
lxml==4.9.2
numpy==1.24.3
pandas==2.0.1
Pillow==9.5.0
ply==3.11
pycparser==2.21
pydantic==1.10.7
pyparsing==3.0.9
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
python-pptx==0.6.21
pytz==2023.3
requests==2.30.0
six==1.16.0
soupsieve==2.4.1
stone==3.3.1
typing_extensions==4.5.0
tzdata==2023.3
urllib3==2.0.2
whichcraft==0.6.1
XlsxWriter==3.1.0
zope.event==4.6
zope.interface==6.0
